.slider{
    color: pink !important;
    
    //fill: #f90;
    //stroke: #9f0 !important;
   // background: #37DFA6;
    //border: 2px solid black;
    --bullet-background: black;
    --bullet-background-active: black;
opacity: 1;
}