<ion-content>

  <ion-slides pager class = "slider" #slides>
    <ion-slide>
      <h1>My Slide 1</h1>
      
    </ion-slide>
    <ion-slide> 
      <h1>My Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>My Slide 3</h1>
    </ion-slide>
    <br><br><br><br><br><br><br><br><br>
  </ion-slides>

</ion-content>




<ion-tabs  color= "#334422"  fill = "solid">
  <ion-tab-bar color= "primary"  slot="bottom">
    
    <ion-tab-button tab="about" (click)= "prev()">
      <ion-icon style="color:black" name="person-circle-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="about" (click)= "next()">
      <ion-icon style="color:black" name="person-circle-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>