

<ion-content>
  <br><br><br>
  <ion-grid>
    <ion-row>
      <ion-col offset = 3>
        <ion-avatar>
          <img src="https://www.campusfrance.org/sites/default/files/styles/mobile_visuel_principal_page/public/medias/images/2017-10/s%27inscrire_etudiant%20europ%C3%A9en.jpg?itok=UKxKj9Wt">
        </ion-avatar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset=4>
       <b>Jane Doe</b>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset=3>
       Multidisciplinary Designer
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-item detail routerDirection= "forward">
      <ion-col>
          <ion-icon name= "search"></ion-icon>
          About Jane
      </ion-col>
    </ion-item>
    </ion-row>
  </ion-grid>
  
</ion-content>
