.ion-no-padding	{
    padding: 0px;
    margin-top: 0px;
}
.Oval{
    --border-radius: 450px ;
    
}

.Text{
    height: 6vh; 
}

.Rows{
    margin-top: -45px;
    text-align:  center;
}

@media screen and ( min-height: 800px )
{
    .Rows{
        margin-top: -20px;
        text-align:  center;
    }
}


@media screen and ( min-height: 730px ) and (max-height: 740px)
{
    .Rows{
        margin-top: -35px;
        text-align:  center;
    }
}

.RowButton{
    margin-top: -20px;
}