


<ion-tabs class = "upBar" color= "#334422"  fill = "solid">
  <ion-tab-bar color= "secondary" class = "upBar" slot="top">
    <ion-searchbar id = "searchsBar" color = "primary" fill="solid"></ion-searchbar>
    <ion-icon style="color:white ; margin-top: 15px;" size = "large" name="chatbox-ellipses-outline"></ion-icon>
  </ion-tab-bar>
</ion-tabs>

<ion-grid>
  <ion-row>
    <ion-col size="3" ></ion-col>
    <ion-col >
      <br><br><br><br>
      <p id = "explore"> <b>Explore Ideas </b></p>
      </ion-col>
     
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card >
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-grid style = "margin:0px ; padding:0px">
          <ion-row style = "margin:0px ; padding:0px">
            <ion-col size = "1"></ion-col>
            <ion-col>
              <img src = "assets/img/color.png" width="270" height="180">
            </ion-col>
          </ion-row>
        </ion-grid>
       
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>



















<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon style="color:black" name="home-outline"></ion-icon>
      <ion-badge color = "dark">6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="preferences">
      <ion-icon style="color:black" name="settings-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="add">
      <ion-icon style="color:black" name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon style="color:black" name="notifications-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon style="color:black" name="person-circle-outline"></ion-icon>
    </ion-tab-button>

    
  </ion-tab-bar>
</ion-tabs>